$background-white: #ffffff;
$background-theme: #16171d;
$border-blue: #2e303a;
$text-light: #f3f4f6;
$accent-purple: #c084fc;
$background-accent: #c084fc80;
$background-accent-light: #c084fc26;
$budhha-green: #35b779;
$santas-grey: #9ca3af;
$noble-black: #1f2028;